#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.bottom-section {
  margin-top: 25px;
}

li {
  list-style-type: none;
}

.results-block {
  display: flex;
  justify-content: space-between;
}
